body {
    margin: 0;
    font-family: sofia-pro, sans-serif;
    background-color: #ffe9e8;
}
.headline {
    height: 25%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../Images/water_cropped.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sofia-pro;
    margin-bottom: 100px;
}

.content {
    width: 70%;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

.headertext {
    font-size: 50px;
    color: #fdd;
    max-width: 100%;
    position: relative;
    margin-bottom: 2pc;
}

.subheading {
    font-size: 1.5em;
    color: #23233b;
    font-family: sofia-pro;
}

h2 {
    margin-bottom: 10px;
    margin-inline-start: 2em;
    margin-top: 2em;
}

p {
    margin-top: 0px;
    font-weight: 300;
    font-family: sofia-pro, sans-serif;
    justify-content: center;
    margin: auto;
    margin-inline-start: 3em;
    margin-inline-end: 3em;
}

a:link , a:visited{
    color: #0068d8;
    text-decoration: none;
}
a:hover {
    color: #0068d8;
    text-decoration: underline;
}