:root {
    --link_blue: #0068d8;
    --hr_color: #23233b4f;
    --background_color: #fffae5;
    /* --background_color: #fff2f2; */
}
body {
    margin: 0;
    font-family: sofia-pro, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: var(--background_color);
}
.headline {
    height: 25%;
    width: 100%;
    /* background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../Images/water_cropped.jpg'); */
    background-color: #ffc04b;
    background-color: #aefd9a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sofia-pro;
}

.content {
    width: 95%;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

.headertext {
    font-size: 70px;
    /* color: var(--background_color); */
    color: #222;
    max-width: 100%;
    position: relative;
    margin-bottom: 2pc;
}

.subheading {
    font-size: 1.5em;
    color: #23233b;
    font-family: sofia-pro;
}

.row {
    margin-top: 2.1em;
}

h2 {
    margin-bottom: 10px;
    margin-inline-start: 3vw;
}

p {
    margin-top: 0px;
    font-weight: 300;
    font-family: sofia-pro, sans-serif;
    justify-content: center;
    margin: auto;
    margin-inline-start: 3vw;
    margin-inline-end: 3vw;
}

a:link , a:visited{
    color: var(--link_blue);
    text-decoration: none;
}
a:hover {
    color: var(--link_blue);
    text-decoration: underline;
}

hr {
    margin-top: 3.2em;
    margin-bottom: 2em;
    width: 90%;
    max-width: 1000px;
    border: 0;
    height: 1px;
    color: var(--hr_color);
    background-color: var(--hr_color);
}